*{
	padding:0;
	margin:0;
	list-style: 0;
}
body{
	
	font-family: 'PT Serif', serif;
	color: #f0eaf9;
}
header{
	height: 58px;
}

.items{
	margin-top: 10px;
}
.items>li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	color:black;
	line-height: 50px;
}

#footer{
	position: relative;
	margin-top: 0px;
	
}
.copyrights p{
	margin-top: 10px;
	text-align: right;
	line-height: 50px;
	color:black;
}

.title{
	text-align: center;
	margin-bottom: 3rem;
}
.title h1{
	font-family: 'Dancing Script', cursive;
	color: #E16B8C;
}

.title h4{
	font-family: 'PT Serif', serif;
	line-height: 28px;
}
.About h5{
	font-family: 'PT Serif', serif;
	line-height: 28px;
	font-size: 18px;
}
.About{
	
	background-color: #FEDFE1;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.content1{
	margin-top: 30px;
}

img{
	max-width: 100%;
	margin-bottom: 20px;
}


@media screen and (max-width: 767px){
	

}
